/*
* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
* https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
*/

$kv-primary-900: #212529;
$kv-primary-800: #42464b;
$kv-primary-700: #61666a;
$kv-primary-500: #9fa3a9;
$kv-secondary-900: #212929;
$kv-secondary-800: #313e3e;
$kv-secondary-700: #3f5150;
$kv-text-on-primary: white;
$kv-scrollbar-background: #0a0b0c;
$kv-green: green;
$kv-dark-green: darkgreen;