@use './colors' as colors;

// Defines custom variables & mixins for the entire project

@mixin scrollbar {
  &::-webkit-scrollbar {
    height: 8px;
    border-radius: 10px;
    background-color: colors.$kv-scrollbar-background;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: colors.$kv-primary-800;
  }
}

// Used in outdoor and section titles
@mixin title {
  font-weight: bold;
  color: colors.$kv-text-on-primary;
  overflow: hidden;
}

@mixin default-text {
  font-size: 1rem;
  font-weight: normal;
  color: colors.$kv-text-on-primary;
}

@mixin badge($bg-color) {
  background-color: $bg-color;
  padding: 0px 6px;
  border-radius: 6px;
  display: inline-block;
}

@mixin buy-btn {
  margin-top: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: colors.$kv-green;
  border: none;
  box-shadow: 4px 4px 4px colors.$kv-primary-900;
  
  &:hover {
    background-color: colors.$kv-dark-green !important;
  }
}

$img-border-radius: 10px;