@use '../../../custom' as custom;
@use '../../../colors' as colors;
@use '../../../breakpoints' as breakpoints;

.checkbox {
  color: colors.$kv-text-on-primary !important;
  font-size: 1.2em;
  
  input {
    background-color: colors.$kv-primary-800 !important;

    &:hover~label {
      text-decoration: underline;
    }
  }

  label {
    &:hover {
      text-decoration: underline;
    }
  }
}

// Description
.desc-container {
  
}

.desc {
  width: 50%;
}

.price {
  display: flex;
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: breakpoints.$lg) {
  .desc {
    width: 100%;
  }
}