@use '../../../custom' as custom;
@use '../../../colors' as colors;
@use '../../../breakpoints' as breakpoints;

.floating-label {
  color: colors.$kv-text-on-primary !important;
}

.form-control {
  background-color: colors.$kv-primary-800 !important;
  color: colors.$kv-text-on-primary !important;

  &:active {
    background-color: colors.$kv-primary-800 !important;
    color: colors.$kv-text-on-primary !important;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px colors.$kv-secondary-800 !important;
    border-color: colors.$kv-secondary-800 !important;
  }
}

.input-group-text {
  background-color: colors.$kv-primary-700 !important;
  color: colors.$kv-text-on-primary !important;

  &:active {
    background-color: colors.$kv-primary-700 !important;
    color: colors.$kv-text-on-primary !important;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px colors.$kv-secondary-700 !important;
    border-color: colors.$kv-secondary-800 !important;
  }
}

.tabs {
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #dee2e6;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
  --bs-nav-tabs-link-active-color: #{colors.$kv-text-on-primary};
  --bs-nav-tabs-link-active-bg: #{colors.$kv-secondary-800};
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);

  --bs-nav-link-color: #{colors.$kv-text-on-primary};
  --bs-nav-link-hover-color: #{colors.$kv-text-on-primary};
}

.checkbox {
  color: colors.$kv-text-on-primary !important;
  font-size: 1.2em;
  
  input {
    background-color: colors.$kv-primary-800 !important;

    &:hover~label {
      text-decoration: underline;
    }
  }

  label {
    &:hover {
      text-decoration: underline;
    }
  }
}

// Description
.desc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  width: 50%;
}

@media screen and (max-width: breakpoints.$lg) {
  .desc {
    width: 100%;
  }
}