@use '../../../../colors' as colors;
@use '../../../../custom' as custom;

.container {
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 2px;

  form {
    padding-left: 10px;
  }
}

.end-label {
  color: colors.$kv-text-on-primary;
  padding: 0px 0.5em;
  border-radius: 100px;
  &:hover {
    background-color: colors.$kv-secondary-600;
  }
}