@use '../../../../colors' as colors;
@use '../../../../custom' as custom;

.container {
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 2px;

  form {
    padding-left: 10px;
  }
}

.accordion {
  font-size: 1rem;
}

.accordion-header {
  background-color: colors.$kv-primary-900 !important;
  border: none !important;
  margin-bottom: 2px;
  opacity: 0.8;

  font-size: 1.2em;

  &:hover {
    opacity: 1;
    background-color: colors.$kv-primary-800 !important;
  }

  &.active {
    opacity: 1;
    background-color: colors.$kv-primary-700 !important;
  }
}

.accordion-body {
  height: 0;
  transition: height 0.2s ease-out;

  overflow: auto;
  overflow-x: hidden;
  background-color: inherit;
  @include custom.scrollbar;

  font-size: 1em;
  overscroll-behavior: contain;
}

.show-body {
  height: 250px;
  transition: height 0.2s ease-in;
}

.checkbox {
  color: colors.$kv-text-on-primary !important;
  font-size: 1.2em;
  
  input {
    background-color: colors.$kv-primary-800 !important;

    &:hover~label {
      text-decoration: underline;
    }
  }

  label {
    &:hover {
      text-decoration: underline;
    }
  }
}