@use '../../../../colors' as colors;

.container {
  width: 78%;

  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.games-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  row-gap: 16px;
}

.card-wrapper {
  padding: 0 8px;

  a {
    text-decoration: none;
    color: colors.$kv-text-on-primary;
  }
}