@use '../../colors' as colors;
@use '../../custom' as custom;

.form-control {
  background-color: colors.$kv-primary-800 !important;
  border: none !important;
  font-size: 1.2rem !important;
  color: colors.$kv-text-on-primary !important;

  &:focus {
    box-shadow: none !important;
  }
}

.input-text {
  border: none !important;
  background-color: colors.$kv-primary-800 !important;
}

.button {
  border: none !important;
  color: colors.$kv-text-on-primary !important;
}