@use '../../../custom' as custom;
@use '../../../colors' as colors;

$spacing: 12px;

@mixin card() {
  background-color: colors.$kv-primary-800;
  border-radius: custom.$img-border-radius;

  padding: $spacing;
}