@use '../../../custom' as custom;
@use '../../../colors' as colors;

.container {
  display: grid;
  grid-template-columns: 1fr 30%;
  gap: 16px;

  .left, .right {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .right {}
}