@use './local' as local;
@use '../../../colors' as colors;
@use '../../../breakpoints' as breakpoints;

.container {
  display: grid;
  grid-template-columns: 70% 30%;

  .left, .right {
    display: flex;
    flex-direction: column;
    gap: local.$cards-gap;
  }

  .left {
    padding-right: calc(local.$cards-gap/2);
  }

  .right {
    padding-left: calc(local.$cards-gap/2);
  }

  hr {
    border: 2px solid colors.$kv-primary-800;
    border-radius: 10px;
    opacity: 1;
    margin: 0;
  }
}

@media screen and (max-width: breakpoints.$lg) {
  .container {
    grid-template-columns: 100%;
    column-gap: 16px;
  }
}