@use '../../../custom' as custom;
@use '../../../colors' as colors;
@use './card' as card;

.container {
  @include card.card;

  display: flex;
  flex-direction: column;
  gap: card.$spacing;

  hr {
    border: 4px solid colors.$kv-primary-900;
    border-radius: 10px;
    opacity: 1;
  }
}

.img-wrapper {
  position: relative;
  padding-bottom: 50%;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: custom.$img-border-radius;
  }
}

.text {
  @include custom.default-text;
  text-align: start;

  p {
    margin-bottom: card.$spacing;
  }
}

.badge {
  @include custom.badge(colors.$kv-primary-700);
  margin-top: 4px;
  font-weight: bold;
  margin-right: card.$spacing;
}