@use '../../../custom' as custom;
@use '../../../colors' as colors;
@use '../../../breakpoints' as breakpoints;

.container {
  background-color: colors.$kv-primary-800;
  border-radius: custom.$img-border-radius;
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 1rem; // Global font size

  hr {
    border: 1px solid colors.$kv-primary-700 !important;
    margin: 0 !important;
    border-radius: 10px !important;
    opacity: 1 !important;
  }

  p {
    text-align: start;
    color: colors.$kv-text-on-primary;
    font-size: 1em;
    margin: 0;
  }

  h5 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 16px;
  }
}

.img-wrapper {
  background-color: colors.$kv-primary-700;
  border-radius: custom.$img-border-radius;
  position: relative;
  padding-bottom: 133%;

  img {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: custom.$img-border-radius;
  }
}

.badge {
  @include custom.badge(colors.$kv-primary-700);
  font-size: 1em;
  margin-top: 4px;
  font-weight: 500;
  margin-right: 6px;
}

// 0 to 992px
@media screen and (max-width: breakpoints.$lg) {
  .container {
    font-size: 0.9rem;
  }
}