@use '../../../custom' as custom;

$gap: 6px;

@mixin img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: custom.$img-border-radius;
  object-fit: cover;
}

.container {
  width: 100%;
}

.gallery-img {
  position: relative;
  padding-bottom: 50%;

  img {
    @include img;
  }
}

.slider {
  display: flex;
  flex-direction: row;
  gap: $gap;

  padding-bottom: 10px;
  padding-top: $gap;

  @include custom.scrollbar;
  overflow-y: hidden;
  overflow: auto;

  width: 100%;
}

.slider-img {
  position: relative;
  padding-bottom: 15%;
  padding-right: 25%;

  img {
    @include img;
    cursor: pointer;
  }
}