@use '../../../colors' as colors;

.games-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  row-gap: 16px;
}

.card-wrapper {
  padding: 0 8px;

  a {
    text-decoration: none;
    color: colors.$kv-text-on-primary;
  }
}