@use '../../../custom' as custom;
@use '../../../colors' as colors;

.container {
  background-color: colors.$kv-primary-800;
  border-radius: custom.$img-border-radius;

  display: grid;
  grid-template-columns: 15% 65% 20%;
  
  .img-wrapper {
    position: relative;
    padding-bottom: 133%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: custom.$img-border-radius;
    object-fit: cover;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: bold;
    height: 2rem;
    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    margin: 0;
  }
}

.sale-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 16px;
}

.activation {
  font-size: 1.2rem;
  line-height: 1.1;
}

.bold-500 {
  font-weight: 500;
}

.button {
  @include custom.buy-btn;
  width: 100%;
  margin-top: 6px;
}

.game-version {
  @include custom.badge(colors.$kv-primary-700);
  font-size: 1.2rem;
  font-weight: bold;
  width: fit-content;
}

.price-btn {
  align-self: center;
  padding-right: 16px;
}

// Price section --
.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  gap: 2px;
  color: colors.$kv-text-on-primary;
}

.discount {
  @include custom.badge(colors.$kv-green);
  font-weight: bold;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.old-price {
  font-size: 1rem;
  text-decoration: line-through;
  margin: 0 5px;
}

.new-price,
.price {
  @include custom.badge(colors.$kv-primary-700);
  text-align: center;
  font-weight: bold;
  flex-grow: 0;
}

.old-new-price-container {
  display: flex;
  flex-direction: column;
}
// -------