@use '../../../colors' as colors;

.container {
  h3 {
    color: colors.$kv-text-on-primary;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 24px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-item-rec {
  padding-left: 8px;
}

.grid-item-min {
  padding-right: 8px;
}

.grid-item-min,
.grid-item-rec {
  p {
    margin: 0;
  }
}