@use '../colors' as colors;

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: colors.$kf-primary-800;
  border-radius: 10px;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .info {
    width: 100%;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2rem;
  }
}