@use '../colors' as colors;
@use '../custom' as custom;

.card {
  display: flex;
  flex-direction: column;
  background-color: colors.$kf-primary-800;
  border-radius: 10px;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 10px;
    font-size: 1.2rem;
    
    .name {
      font-weight: 600;
    }

    .platforms {
      .platform {
        margin-right: 10px;
      }
    }

    .price-info {
      .old-price {
        text-decoration: line-through;
        margin: 0 5px;
      }
      
      .discount {
        @include custom.badge(colors.$kf-green)
      }

      .new-price, .price {
        @include custom.badge(colors.$kf-primary-700);
        font-weight: bold;
      }
    }
  }
}