@use '../colors' as colors;
@use '../custom' as custom;

.card {
  background-color: colors.$kv-primary-800;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  height: 100%;

  display: flex;
  flex-direction: column;

  .card-img {
    position: relative;
    padding-bottom: 133%;
    display: block;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }

  &:hover {
    box-shadow: 0 0 10px colors.$kv-primary-500;
  }

  .info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    padding: 10px;
  }

  &:hover .price,
  &:hover .new-price {
    background-color: colors.$kv-green;
  }
}

.name {
  width: 100%;

  font-size: 1.2rem;
  font-weight: 600;
  color: colors.$kv-text-on-primary;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-platform-wrapper {
  width: 100%;
}

.platforms-container {
  width: 100%;
  margin-bottom: 4px;

  .platform {
    margin-right: 10px;

    font-size: 1.2rem;
    color: colors.$kv-text-on-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Price section ---
.price-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  width: 100%;

  font-size: 1.2rem;
  color: colors.$kv-text-on-primary;
}

.discount {
  @include custom.badge(colors.$kv-green);
  align-self: stretch;

  text-align: center;
  font-weight: bold;

  // Vertically center the text
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.old-price {
  font-size: 1rem;

  text-decoration: line-through;
  margin: 0 5px;
}

.new-price,
.price {
  @include custom.badge(colors.$kv-primary-700);
  font-weight: bold;
}

.old-new-price-container {
  display: flex;
  flex-direction: column;
}
// ---------