@use '../colors' as colors;
@use '../breakpoints' as breakpoints;

$spacing: 16px;

@mixin nav-link {
  font-size: 1.2em;
  opacity: 0.6;
  transition: 100ms opacity ease-in-out;
  text-decoration: none;
  color: colors.$kv-text-on-primary;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.logo {
  font-size: 1.8em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  text-decoration: none;
  color: colors.$kv-text-on-primary;

  &:hover {
    text-decoration: underline;
    color: colors.$kv-text-on-primary;
  }
}

.nav-bar {
  width: 100%;
  padding: 10px;
  background-color: colors.$kv-primary-800;

  color: colors.$kv-text-on-primary;

  font-size: 1rem; // Global font size
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing;

  margin-right: auto;

  a {
    @include nav-link;
  }
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing;
}

// Active navLink
.active {
  opacity: 1 !important;
}

.btn {
  font-size: 1.2em !important;
}

.offcanvas-btn {
  font-size: 1.8em !important;
  border-radius: 50px;
  display: none;
}

.offcanvas {
  font-size: 1rem;
  background-color: colors.$kv-primary-900;
}

.offcanvas-header {
  font-size: 1em;
  color: white;
}

.offcanvas-title {
  font-size: 1.2em;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.offcanvas-close-btn {
  color: white !important;
  font-size: 1.5em !important;
  background-color: colors.$kv-primary-900;
  border: none;

  &:hover {
    background-color: colors.$kv-primary-700 !important;
  }

  &:active {
    background-color: colors.$kv-primary-500 !important;
  }
}

.offcanvas-body {
  .nav-left {
    justify-content: space-around;
  }
}

// 0 to 576px;
@media screen and (max-width: breakpoints.$sm) {
  .btn {
    display: none;
  }

  .offcanvas-btn {
    display: inline-block;
  }

  .nav-bar {
    .nav-left {
      display: none;
    }
  }

  .nav-bar-container {
    justify-content: space-between;
  }
}