@use '../breakpoints' as breakpoints;
@use '../colors' as colors;
@use '../custom' as custom;

$gap: 8px;
$small-gap: 4px;

.outdoor {
  width: 100%;
  position: relative;
}

.outdoor-img {
  position: relative;
  padding-bottom: 60%;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;

    border-radius: custom.$img-border-radius custom.$img-border-radius 0 0;
    transition: 300ms opacity ease-in-out;
    opacity: 0;
  }

  .img-show {
    opacity: 1;
  }
}

.outdoor-content {
  position: absolute;
  left: 5%;
  top: 5%;

  display: flex;
  flex-direction: column;
  gap: $gap;

  cursor: pointer;

  p {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: colors.$kv-text-on-primary;
  }

  a {
    text-decoration: none;

    &:hover p {
      text-decoration: underline white;
    }

    &:hover .price,
    &:hover .new-price {
      background-color: colors.$kv-green;
    }
  }
}

.cards-grid {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(33, 37, 41, 0) 0%, colors.$kv-primary-900 59.37%);

  display: grid;
  grid-template-columns: repeat(4, 20%);
  align-items: center;
  justify-content: center;
  padding: $gap;

  .item {
    padding: 0px $gap;
  }
}

.small-game-card {
  background-color: colors.$kv-primary-800;
  position: relative;
  border-radius: custom.$img-border-radius;
  padding-bottom: 133%;
  cursor: pointer;

  img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: custom.$img-border-radius;
  }

  &:hover {
    box-shadow: 0 0 10px colors.$kv-primary-700;
  }

  &:hover .title-container {
    opacity: 0.8;
  }
}

.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid white;
  border-radius: custom.$img-border-radius;
  opacity: 0;
}

.bar-show {
  opacity: 1;
}

.title-container {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  bottom: 0;

  padding: 10px;
  border-radius: custom.$img-border-radius;

  background-color: colors.$kv-primary-900;
  box-shadow: white 0px 0px 10px;

  font-size: 1.4rem;
  color: colors.$kv-text-on-primary;

  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 0;
  transition: 100ms opacity ease-in-out;

  .title {
    text-align: center;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.btn {
  @include custom.buy-btn;
  width: fit-content;
}

// Price section ---
.price-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  color: colors.$kv-text-on-primary;
}

.discount {
  @include custom.badge(colors.$kv-green);
  font-weight: bold;
}

.old-price {
  font-size: 1rem;
  text-decoration: line-through;
  margin: 0 5px;
}

.new-price,
.price {
  @include custom.badge(colors.$kv-primary-700);
  font-weight: bold;
}
// ---------

// 992px to 1200px
@media screen and (max-width: breakpoints.$xl) and (min-width: breakpoints.$lg) {
  .cards-grid {
    position: relative;
    bottom: 120px;
    height: 200px;
    padding: 0px;
    grid-template-columns: repeat(4, 23%);

    .item {
      padding: 0 $small-gap;
    }
  }
}

// 0px to 992px
@media screen and (max-width: breakpoints.$lg) {
  .cards-grid {
    position: relative;
    bottom: 50px;
    padding: 0px;
    padding-bottom: 10px;

    overflow-y: none;
    overflow: auto;
    @include custom.scrollbar;

    display: flex;
    justify-content: flex-start;
  }

  .small-game-card {
    min-width: 180px;
  }
}

// 0px to 576px
@media screen and (max-width: breakpoints.$sm) {
  .small-game-card {
    min-width: 150px;
  }
}