@use '../colors' as colors;

.outdoor {
  width: 100%;
  position: relative;

  img {
    max-height: 55vh;
  }
}

.cards {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(33, 37, 41, 0) 0%, #212529 59.37%);

  display: grid;
  grid-template-columns: 18% 18% 18% 18%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;

  .item {
    height: 120px;
    background-color: colors.$kf-primary-800;
    opacity: 60%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 992px) {
  .cards {
    grid-template-columns: 40% 40%;
  }
}