@use '../breakpoints' as breakpoints;
@use '../colors' as colors;
@use '../custom' as custom;

$gap: 8px;
$small-gap: 4px;

.container {
  display: flex;
  flex-direction: column;
  gap: calc($gap * 2);

  font-size: 1rem; // Global font size

  hr {
    margin: 0 $gap;

    border: 2px solid colors.$kv-primary-700;
    border-radius: 10px;
    opacity: 1;
  }

  a {
    color: inherit !important;
    text-decoration: none !important;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $gap;

  h3 {
    color: colors.$kv-text-on-primary;
    font-size: 1.8em;
    font-weight: normal;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    color: colors.$kv-text-on-primary;
    font-size: 1em;

    white-space: nowrap;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  row-gap: calc($gap * 2);

  .item {
    padding: 0 $gap;
  }
}

// 992px to 1200px
@media screen and (max-width: breakpoints.$xl) and (min-width: breakpoints.$lg) {
  .content {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .sentinel {
    display: none;
  }
}

// 0px to 992px
// Applies to both @media below this one
@media screen and (max-width: breakpoints.$lg) {
  .container {
    gap: calc($small-gap * 2);

    hr {
      margin: 0 $small-gap;
    }
  }

  .top {
    padding: 0 $small-gap;
  }

  .sentinel {
    display: none;
  }
}

// 768px to 992px
@media screen and (max-width: breakpoints.$lg) and (min-width: breakpoints.$md) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: calc($small-gap * 2);
    
    overflow-y: hidden;
    overflow: auto;
    @include custom.scrollbar;

    margin: 0 $small-gap;
    padding-bottom: calc($small-gap * 2);
    
    .item {
      padding: 0px;
      min-width: 214px;
    }
  }
}

// 0px to 768px
@media screen and (max-width: breakpoints.$md) {
  .container {
    font-size: 0.9rem;
  }

  .content {
    grid-template-columns: 50% 50%;
    overflow: auto;
    row-gap: 10px;

    .item {
      padding: 0px $small-gap;
    }
  }
}