@use '../colors' as colors;
@use '../breakpoints' as breakpoints;
@use '../custom' as custom;

$spacing: 16px;
$container-font-size: 1em;

.main-container {
  width: 100%;
  background-color: colors.$kv-primary-900;
  color: colors.$kv-text-on-primary;

  font-size: 1rem; // Global font size

  nav {
    display: flex;
    flex-direction: row;
    gap: $spacing;

    a {
      text-decoration: none;
      color: inherit;

      font-size: 1.2em;
      opacity: 0.6;
      transition: 100ms opacity ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}

// Active Link
.active {
  opacity: 1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $spacing;

  padding: 8px;

  font-size: $container-font-size;
}

.dropdown {
  visibility: visible;
}

.dropdown-toggle {
  font-size: 1.2em;
  background-color: colors.$kv-primary-900 !important;
  border: none !important;

  &:hover {
    background-color: colors.$kv-primary-800 !important;
  }

  &:active {
    background-color: colors.$kv-primary-700 !important;
  }
}

.dropdown-menu {
  background-color: colors.$kv-primary-800 !important;

  .dropdown-item {
    font-size: 1.1em;
    color: colors.$kv-text-on-primary !important;
    cursor: pointer;

    &:hover {
      background-color: colors.$kv-primary-700 !important;
      color: colors.$kv-text-on-primary;
    }

    &:active {
      background-color: colors.$kv-primary-500 !important;
    }

  }
  
  a {
    text-decoration: none;
    color: colors.$kv-text-on-primary;
  }
}

.input-group {
  width: fit-content;
  border-radius: 10px;
  @include custom.shadow;

  &:hover {
    box-shadow: 0px 0px 10px colors.$kv-primary-800;
  }

  &:focus-within {
    box-shadow: 0px 0px 10px colors.$kv-primary-500;
  }
}

.form-control {
  background-color: colors.$kv-primary-800 !important;
  border: none !important;
  color: colors.$kv-text-on-primary !important;

  font-size: 1.2em !important;

  &:focus {
    box-shadow: none !important;
  }
}

.input-group-text {
  border: none !important;
  background-color: colors.$kv-primary-800 !important;
}

.button {
  border: none !important;
  color: colors.$kv-text-on-primary !important;
}

.responsive-dropdown {
  display: none;
}

// 0 to 768px
@media screen and (max-width: breakpoints.$md) {
  .main-container {
    nav {
      display: none;
    }
  }

  .dropdown {
    display: none;
  }

  .responsive-dropdown {
    display: inline-block;
  }
}

// 0 to 460px
@media screen and (max-width: 460px) {
  .responsive-dropdown {
    display: none;
  }
}