.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.8rem;
}

.platforms-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1.6rem;
}